@font-face {
  font-family: "Hind Siliguri Regular";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri Medium";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri SemiBold";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri Bold";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Hind Siliguri Regular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #292830;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  color: #343841;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #f6f6f6;
}

.main-color {
  color: #33efab;
}

.button-special {
  float: left;
  cursor: pointer;
  font-family: "Hind Siliguri SemiBold", sans-serif;
  border-color: #3b1df4;
  color: #fff !important;
  background-color: #3b1df4 !important;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  height: unset;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Sizes */
.button--size-s {
  font-size: 16px;
}
.button--size-m {
  font-size: 18px;
}
.button--size-l {
  font-size: 21px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}
.button--border-medium {
  border: 2px solid;
}
.button--border-thick {
  border: 3px solid;
}

/* Wayra */
.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s,
    background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff;
  border-color: #33efab;
}
.button--wayra.button--inverted:hover {
  color: #33efab;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: #33efab;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}

@media screen and (max-width: 769px) {
  .button--size-l {
    font-size: 18px;
  }
}
