@font-face {
  font-family: "Hind Siliguri Regular";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri Medium";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri SemiBold";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind Siliguri Bold";
  src: url("./assets/fonts/Hind_Siliguri/HindSiliguri-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Hind Siliguri Regular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #292830;
  margin: 0;
  padding: 0;
}

.main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  color: #343841;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #f6f6f6;
}

.main-color {
  color: #33efab;
}

.button-special {
  float: left;
  cursor: pointer;
  font-family: "Hind Siliguri SemiBold", sans-serif;
  border-color: #3b1df4;
  color: #fff !important;
  background-color: #3b1df4 !important;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  height: unset;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Sizes */
.button--size-s {
  font-size: 16px;
}
.button--size-m {
  font-size: 18px;
}
.button--size-l {
  font-size: 21px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}
.button--border-medium {
  border: 2px solid;
}
.button--border-thick {
  border: 3px solid;
}

/* Wayra */
.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s,
    background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff;
  border-color: #33efab;
}
.button--wayra.button--inverted:hover {
  color: #33efab;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: #33efab;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie {
  cursor: auto;
}

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgba(72, 76, 97, 0) 0%,
    rgba(25, 25, 25, 0.8) 75%
  );
  background: linear-gradient(
    to bottom,
    rgba(72, 76, 97, 0) 0%,
    rgba(25, 25, 25, 0.8) 75%
  );
  content: "";
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 10%;
  left: 15%;
  padding: 2em;
  width: 70%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  text-transform: none;
  color: #fff;
  font-family: "Hind Siliguri Regular", sans-serif;
}

figure.effect-sadie p a {
  color: #33efab;
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  opacity: 1;
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  font-family: "Hind Siliguri Bold", sans-serif;
  font-size: 28px;
  opacity: 0;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  font-size: 16px;
}

/* Individual effects */

@media screen and (max-width: 769px) {
  .button--size-l {
    font-size: 18px;
  }
  figure.effect-sadie p {
    bottom: 0;
  }
  figure.effect-sadie h2 {
    top: 35%;
  }
  .grid figure p {
    font-size: 15px;
}
}
